# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Test CI

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    test:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [10.x]

        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}
            - name: "Install dependencies"
              run: |
                  npm ci
            - name: "Run eslint"
              run: |
                  npm run lint
            - name: "Run playwright tests"
              run: |
                  npm run playwright:silent
            - uses: actions/upload-artifact@v2
              with:
                name: playwright-artifact
                path: tests/playwright/log
                retention-days: 5
